#nimipay {
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: 'Work Sans', 'Arial', 'Helvetica', sans-serif;
}

#nimipay a, #nimipay a:visited {
  color: #3f8ca8;
}

.np-product {
  max-width: 130px;
  max-height: 130px;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid gainsboro;
}

.np-button {
  padding: 8px;
  background-color: #3c556c;
  color: white;
  cursor: pointer;
  margin:0 auto;
  max-width:160px;
  margin-bottom:20px;
  font-size: 15px;
  /* box-shadow: 0 0 0 2px white, 0 0 0 3px #d3d3d3; */
  margin-top:5px;
}

.np-button:hover {
  background-color: #49647e;
}


.np-wallet {
  padding: 10px;
  max-width: 430px;
  margin: 0 auto;
  text-align: center;
  clear:both;
  padding-top: 30px;
  background-color: white;
  border-radius:5px;
  margin-bottom: 20px;
}

.np-wallet-func {
  margin-top: 10px;
  margin-bottom: 20px;
}

@media screen and (max-width: 530px) {
  .np-wallet {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.np-donate-logo {
  max-width:20px;
  display: inline-block;
  vertical-align: top;
}

.np-nimiqookie-content {
  background-image: url('https://nimipay.com/img/paper-strip.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-height: 120px;
  max-width: 400px;
  line-height: 120px;
  margin: 0 auto;
  margin-top: 10px;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 15px;
}

.np-btn {
  padding: 6px;
  background-color: #dbe6e4;
  display: inline-block;
  margin: 7px;
  cursor: pointer;
  color: black;
  width: 100px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 3px;
}

.np-btn:hover {
  background-color: #e4ebe9;
}

.np-btn-small {
  padding: 3px;
  margin-bottom: 10px;
  width: 200px;
}

.np-link a, .np-link a:visited {
  /* color: #006c9e; */
  color: #58aed5;
  text-decoration: underline;
  cursor: pointer;
}

.np-bullet {
  font-size: 16px;
  vertical-align: middle;
}

#np-tab-items {
  display: none;
}

.np-tabs {
  margin-top:40px;
  margin-bottom:20px;
  text-align:center;
  color:white;
}


/* modal */

.np-modal-close {
  position: absolute;
  margin-top: -24px;
  cursor: pointer;
  font-size: 20px;
}

.np-modal-window {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.8);
  overflow-x: hidden;
  box-sizing: content-box;
  align-items: center;
}

.np-modal-content {
  position: relative;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 80px;
}

.np-donate {
  color: white;
  font-size:16px;
  font-weight: normal;
  background-color: black;
  border: 1px solid grey;
  border-radius: 5px;
  height: auto;
  padding: 40px 15px 45px 15px;
  width: 430px;
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -51%);
  text-align: center;
}

.np-donate-btn {
  font-size: 14px;
  font-weight: normal!important;
  margin-bottom: 25px;
  height: 20px;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .np-donate {
    width: 80%;
  }
}

.np-donate-input {
  margin-top: 10px;
  margin-bottom: 15px;
  background-color: #2b3845;
  color: white;
  border: 1px solid #a3a3a3;
  padding: 10px;
  font-size: 16px;
  font-family: inherit;
  max-width: 50%;
}

@media screen and (max-width: 460px) {
  .np-donate-input {
    max-width: 70%;
  }
}

@media screen and (max-width: 360px) {
  .np-donate-input {
    max-width: 75%;
  }
}

.np-donate-input {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
      appearance: textfield;
}
.np-donate-input::-webkit-inner-spin-button, 
.np-donate-input::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}



/* text spinner */

.np-loading {
  display: inline-block;
  overflow: hidden;
  height: 1.3em;
  margin-top: -0.3em;
  line-height: 1.5em;
  vertical-align: text-bottom;
}

.np-loading::after {
  display: inline-table;
  white-space: pre;
  text-align: left;
}

.np-loading::after {
  content: "\A.\A..\A...";
  animation: spin4 2s steps(4) infinite;
}

.np-loading.np-line::after {
  content: "/\A–\A\\\A|";
  text-align: center;
  animation: spin4 1s steps(4) infinite;
}

@keyframes spin1  { to { transform: translateY( -1.5em); } }
@keyframes spin2  { to { transform: translateY( -3.0em); } }
@keyframes spin3  { to { transform: translateY( -4.5em); } }
@keyframes spin4  { to { transform: translateY( -6.0em); } }
@keyframes spin5  { to { transform: translateY( -7.5em); } }
@keyframes spin6  { to { transform: translateY( -9.0em); } }
@keyframes spin7  { to { transform: translateY(-10.5em); } }
@keyframes spin8  { to { transform: translateY(-12.0em); } }
@keyframes spin9  { to { transform: translateY(-13.5em); } }
@keyframes spin10 { to { transform: translateY(-15.0em); } }
@keyframes spin11 { to { transform: translateY(-16.5em); } }
@keyframes spin12 { to { transform: translateY(-18.0em); } }


/* custom scrollbar */

.np-modal-window::-webkit-scrollbar {
  width: 5px;
}

.np-modal-window::-webkit-scrollbar-track {
  background: #00000000; 
}

.np-modal-window::-webkit-scrollbar-thumb {
  background: #777777; 
}

.np-modal-window::-webkit-scrollbar-thumb:hover {
  background: #888888; 
}